<!-- Sidebar -->
<div class="sidenav">
  <div class="content">
    <mat-accordion class="example-headers-align">
      
      <!-- Project logo -->
      <div class="side-nav-logo">
        <a mat-list-item matLine [routerLink]="['/']">
          <img class="logo" src="../../../../assets/img/logo.png" alt="Logo" />
        </a>
      </div>
      
      <!-- Chart options -->
      <div class="charts">
        <mat-nav-list class="lable-chart" (click)="showLineChart()">
          <a mat-list-item matLine>
            <span><p class="label-nav">Line chart</p> </span>
            <mat-icon>show_chart</mat-icon>
          </a>
        </mat-nav-list>
        <mat-nav-list class="lable-chart" (click)="showHistogram()">
          <a mat-list-item matLine>
            <span><p class="label-nav">Histogram</p></span>
            <mat-icon>bar_chart</mat-icon>
          </a>
        </mat-nav-list>
      </div>

      <!-- Add new trade panel -->
      <mat-expansion-panel class="add-new-tx nav-item">
        <mat-expansion-panel-header class="expansion-header">
          <mat-panel-title
            ><p class="label-nav">Add New Trade</p></mat-panel-title
          >

        </mat-expansion-panel-header>
        <app-addpanel (addTrade)="addTrade($event)"></app-addpanel>
      </mat-expansion-panel>
      
      <!-- Detect front running option -->
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard/detectfront']">
          <span matLine
            ><p class="label-nav detect">Detect Front Running</p></span
          >
          <mat-icon>search</mat-icon>
        </a>
      </mat-nav-list>
      
      <!-- Detect wash trade option -->
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard/detectwash']">
          <span matLine
            ><p class="label-nav detect">Detect Wash Trades</p></span
          >
          <mat-icon>search</mat-icon>
        </a>
      </mat-nav-list>
    </mat-accordion>
  </div>

  <!-- About page option -->
  <div class="about">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard/about']">
        <span matLine><p class="label-nav">About</p></span>
        <mat-icon>help_outline</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</div>
