<!-- About Page -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Project Background</mat-card-title>
  </mat-card-header> 
    <mat-card-header>
        <mat-card-subtitle>Front Running</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p style='margin-left: 15px;'>
        It is an illegal practice of purchasing a security based on advance non-public information regarding an expected large transaction that will affect the price of a security.
        </p>
    </mat-card-content>
    <mat-card-header>
        <mat-card-subtitle>Wash Trade</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p style='margin-left: 15px;'>
          It is a process whereby a trader buys and sells a security for the purpose of feeding misleading information to the market.
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-header>
        <mat-card-title>Project Scope</mat-card-title>
      </mat-card-header>  
    <mat-card-header>
        <mat-card-subtitle>Trade surveillance software which performs:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            → Random trade generation
        </p>
        <p>
            → Manual trade entry
        </p>
        <p>
            → Front running detection
        </p>
        <p>
            → Wash Trade detection
        </p>
        <p>
            → Graphical representation of market manipulation
        </p> 
      </mat-card-content>
</mat-card>
<br>

<div style="display: flex; justify-content: flex-end">
<button mat-raised-button color="primary" (click)="disableGetTradeList()" [routerLink]="['/dashboard']">Dashboard</button>
</div>
