
<mat-card>
    <mat-card-content>
        <p><mat-card-subtitle>Project Background</mat-card-subtitle></p>
        <p>
            Front running refers to the use of non-public information to buy and sell shares or enter into options or futures contracts in advance of a substantial order from a large institution or fund, hoping to make gains when the institution completes its trade and the information becomes public. It is considered as a form of market manipulation and insider trading because a person who commits a front running activity expects security’s price movements based on the non-public information.
        </p>
        <p>
            Compliance teams utilize technology to quickly identify and eliminate abusive behaviour such as front running. Technology to detect front running is able to identify and analyze when changes have occurred in the market that may indicate front running. Such front running solutions apply scenario alert rules to transactional data to identify entities which enter firm orders ahead of client orders, and other subsequent business logic rules to confirm that a front running scenario has occurred.
        </p>
        <p>
            Overall, as firms look to enhance their compliance capabilities, they must look for technology that can relieve the huge burden from the shoulders of compliance teams, reduce the number of false positive investigations as well as the time it takes to conduct them, and improve operational efficiency in compliance.
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <p><mat-card-subtitle>Project Scope</mat-card-subtitle></p>
        <p>
            The project focuses on detecting the front running transactions. Trades occurring in a given time frame after a transaction of value more than the pre-decided threshold, must be considered for the front running scenario. The project provides functionality to add transactions manually. Trade data used must be created and updated continuously. Once the trades are taken from the reference database, it must also calculate the change in values for the specific stock. 
        </p>
    </mat-card-content>
</mat-card>
<br>
<div style="display: flex; justify-content: flex-end">
<a mat-flat-button [routerLink]="['/dashboard']" class="dashboard_btn">Dashboard</a>
</div>
