:host{
    padding: 10px;
}

.pdf_btn{
    padding: 10px;
    padding-bottom: 0px;
    color: tomato;
}

.excel_btn{
    padding: 10px;
    padding-bottom: 0px;
    color: palegreen;
}

.send_email{
    padding: 10px;
    padding-bottom: 0px;
    color: cyan;
}

.dashboard_btn{
    padding: 10px;
    padding-bottom: 0px;
    color: #9C27B0;
}