<div #TABLE>
  <app-widget-table
    [displayedColumns]="displayedColumns"
    [dataSource]="detectedTrades"
  ></app-widget-table>
</div>
<br />
<div style="display: flex; justify-content: flex-end">
  <a
    mat-flat-button
    href="javascript:void(0)"
    (click)="exportAsPDF()"
    class="pdf_btn"
    >Export as PDF</a
  >
  <a
    mat-flat-button
    href="javascript:void(0)"
    (click)="exportAsExcel()"
    class="excel_btn"
    >Export as Excel</a
  >
  <a mat-flat-button [routerLink]="['/dashboard']" class="dashboard_btn"
    >Dashboard</a
  >
</div>
