<main class="main">
  <div class="container">
    <div class="man">
      <img src="../../../assets/img/man.gif" class="detective" />
    </div>
    <div class="head">
      <div class="logo-container">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo" />
      </div>
      <div class="container-text">
        <h1>TRADE SURVEILLANCE</h1>
        <h3>A Front Running Detection Software</h3>
      </div>

      <div class="dashboard-btn">
        <button mat-raised-button color="primary" [routerLink]="['/dashboard']">
          DASHBOARD
        </button>
      </div>
    </div>
  </div>
</main>
