.fullscreen{
    height:100%;
    width:100%;
    position: absolute;
}

.landing{
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
}

.detective{
    position: relative;
    padding-bottom: 1%;
    height:10%;
    width: 10%;
}

.lens{
    position: relative;
    height:60px;
    width: 60px;
}

.landing p{
    position: relative;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Aclonica';
}

.btn:hover {
    background-color:black;
}

