<!-- Main Dashboard Page -->
<div class="dashboard-panel">
  <div class="graphs-panel">
    
    <!-- Toggle for line and histogram -->
    <div *ngIf="line">
      <app-widget-line [dataSource]="dataSource"></app-widget-line>
    </div>
    <div *ngIf="!line">
      <app-widget-histogram [dataSource]="dataSource"> </app-widget-histogram>
    </div>
  </div>

  <!-- Refresh button to generate new trades -->
  <div class="refresh-btn-container">
    <mat-divider></mat-divider>
    <div
      style="display: flex; justify-content: flex-end; padding-right: 10px;"
    >
      <mat-icon
        href="javascript:void(0)"
        matTooltip="Generate new trades"
        matTooltipPosition="left"
        (click)="refreshTable()"
        >refresh</mat-icon
      >
    </div>
  </div>

  <!-- Main trade table -->
  <div class="table-panel">
    <app-widget-table
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
    ></app-widget-table>
  </div>
</div>