<div class="dashboard-panel">
  <div class="graphs-panel">
    <div *ngIf="line">
      <app-widget-line></app-widget-line>
    </div>
    <div *ngIf="!line">
      <app-widget-histogram></app-widget-histogram>
    </div>
  </div>
  <div class="refresh-btn-container">
    <mat-divider></mat-divider>
    <div
      (click)="refreshTable()"
      style="display: flex; justify-content: flex-end; padding-right: 10px;"
    >
      <mat-icon
        href="javascript:void(0)"
        matTooltip="Generate new trades"
        matTooltipPosition="left"
        >refresh</mat-icon
      >
    </div>
  </div>

  <div class="table-panel">
    <app-widget-table
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
    ></app-widget-table>
  </div>
</div>

<!-- <div class="refresh">
    <h3>
      Trades Table
    </h3>

    <button
      mat-raised-button
      (click)="refreshTable()"
      class="refresh-btn"
      color="accent"
      matTooltip="Generate new trades"
    >
      Refresh
    </button>
  </div> -->
