<form [formGroup]="newTrade" (ngSubmit)="getNewTrade()">
  <div class="time-type-row">
    <mat-form-field>
      <mat-label>Time</mat-label>
      <input
        matInput
        placeholder="HH:MM:SS"
        formControlName="timestamp"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select required formControlName="type">
        <mat-option>-- None --</mat-option>
        <mat-option value="Buy">Buy</mat-option>
        <mat-option value="Sell">Sell</mat-option>
      </mat-select>
      <mat-label>Type</mat-label>
    </mat-form-field>
  </div>
  <div class="securities-row">
    <mat-form-field>
      <mat-select required formControlName="securityName">
        <mat-option>-- None --</mat-option>
        <mat-option value="Facebook">Facebook</mat-option>
        <mat-option value="Apple">Apple</mat-option>
        <mat-option value="Wallmart">Wallmart</mat-option>
      </mat-select>
      <mat-label>Security</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="securityType">
        <mat-option>-- None --</mat-option>
        <mat-option value="ES">Equity shares</mat-option>
        <mat-option value="Call">Call option</mat-option>
        <mat-option value="Put">Put option</mat-option>
        <mat-option value="Futures">Futures</mat-option>
      </mat-select>
      <mat-label>Security Type</mat-label>
    </mat-form-field>
  </div>
  <div class="numbers-row">
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 200"
        required
        formControlName="quantity"
      />
      <mat-error *ngIf="quantity.invalid">
        Price can not be less than 0
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Total Price</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 200"
        required
        formControlName="price"
      />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select required formControlName="brokerName">
      <mat-option>-- None --</mat-option>
      <mat-option value="Sharekhan">Sharekhan</mat-option>
      <mat-option value="Citi Velocity">Citi Velocity</mat-option>
      <mat-option value="Zerodha">Zerodha</mat-option>
      <mat-option value="ICICI Direct">ICICI Direct</mat-option>
      <mat-option value="Kotak Securities">Kotak Securities</mat-option>
    </mat-select>
    <mat-label>Broker Name</mat-label>
  </mat-form-field>
  <mat-form-field>
    <mat-select required formControlName="traderName">
      <mat-option>-- None --</mat-option>
      <mat-option value="Raytheon Technologies"
        >Raytheon Technologies</mat-option
      >
      <mat-option value="Citi Group">Citi Group</mat-option>
      <mat-option value="Alibaba Group">Alibaba Group</mat-option>
      <mat-option value="LVMH Moët Hennessy Louis Vuitton"
        >LVMH Moët Hennessy Louis Vuitton</mat-option
      >
    </mat-select>
    <mat-label>Trader Name</mat-label>
  </mat-form-field>

  <button
    class="add-trade-btn"
    type="submit"
    mat-fab
    color="accent"
    aria-label="Example icon button with a bookmark icon"
    [disabled]="newTrade.invalid"
  >
    <mat-icon>add</mat-icon>
  </button>
</form>
