.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-form-field {
  width: 100%;
}
.add-trade-btn {
  margin-left: 35%;
  transform: scale(0.7);
}
.mat-expansion-panel-header.mat-expanded {
  height: 20px;
}
.time-type-row,
.securities-row,
.numbers-row {
  display: flex;
}
.time-type-row .mat-form-field,
.securities-row .mat-form-field,
.numbers-row .mat-form-field {
  width: 45%;
  min-width: 45% !important;
  margin-right: 10px;
  justify-content: space-evenly;
}
