<form [formGroup]="newTrade" (ngSubmit)="getNewTrade()">
  <div class="time-type-row">
    <mat-form-field>
      <mat-label>Time</mat-label>
      <input
        matInput
        placeholder="HH:MM:SS"
        formControlName="timestamp"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select required formControlName="type">
        <mat-option>-- None --</mat-option>
        <mat-option value="Buy">Buy</mat-option>
        <mat-option value="Sell">Sell</mat-option>
      </mat-select>
      <mat-label>Type</mat-label>
    </mat-form-field>
  </div>
  <div class="securities-row">
    <mat-form-field>
      <mat-select required formControlName="securityName">
        <mat-option>-- None --</mat-option>
        <mat-option value="Facebook">Facebook</mat-option>
        <mat-option value="Apple">Apple</mat-option>
        <mat-option value="Wallmart">Wallmart</mat-option>
      </mat-select>
      <mat-label>Security</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="securityType">
        <mat-option>-- None --</mat-option>
        <mat-option value="ES">Equity shares</mat-option>
        <mat-option value="Call">Call option</mat-option>
        <mat-option value="Put">Put option</mat-option>
        <mat-option value="Futures">Futures</mat-option>
      </mat-select>
      <mat-label>Security Type</mat-label>
    </mat-form-field>
  </div>
  <div class="numbers-row">
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 200"
        required
        formControlName="quantity"
      />
      <mat-error *ngIf="quantity.invalid">
        Quantity should be greater than 0
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 200"
        required
        formControlName="price"
      />
      <mat-error *ngIf="price.invalid">
        Price should be greater than 0
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select required formControlName="brokerName">
      <mat-option>-- None --</mat-option>
      <mat-option value="Charles Schwab">Charles Schwab</mat-option>
      <mat-option value="Citi Velocity">Citi Velocity</mat-option>
      <mat-option value="E*Trade">E*Trade</mat-option>
      <mat-option value="Fidelity Investments">Fidelity Investments</mat-option>
      <mat-option value="TD Ameritrade">TD Ameritrade</mat-option>
    </mat-select>
    <mat-label>Broker Name</mat-label>
  </mat-form-field>
  <mat-form-field>
    <mat-select required formControlName="traderName">
      <mat-option>-- None --</mat-option>
      <mat-option value="Bridgewater Associates">Bridgewater Associates</mat-option>
      <mat-option value="Citi Global Markets">Citi Global Markets</mat-option>
      <mat-option value="D.E. Shaw & Co.">D.E. Shaw & Co.</mat-option>
      <mat-option value="Vanguard Group">Vanguard Group</mat-option>
    </mat-select>
    <mat-label>Trader Name</mat-label>
  </mat-form-field>

  <button
    class="add-trade-btn"
    type="submit"
    mat-fab
    color="accent"
    aria-label="Example icon button with a bookmark icon"
    [disabled]="newTrade.invalid"
  >
    <mat-icon>add</mat-icon>
  </button>
</form>
