:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: 100%;
}

.example{
  height: 50%;
}

mat-drawer-content {
  padding: 20px;
}
