<app-loader></app-loader>
<div class="main">
  <div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
     
      <ng-container matColumnDef="trade_id">
        <th mat-header-cell *matHeaderCellDef>Trade ID</th>
        <td mat-cell *matCellDef="let element; let i=index">{{ i + 1 }}</td>
      </ng-container>
      

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef>Trade Date Time</th>
        <td mat-cell *matCellDef="let element">{{ element.timestamp | date: 'mediumTime' :'UTC' }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Trade Type (Buy/Sell)</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="traderName">
        <th mat-header-cell *matHeaderCellDef>Trader</th>
        <td mat-cell *matCellDef="let element">{{ element.traderName }}</td>
      </ng-container>

      <ng-container matColumnDef="securityName">
        <th mat-header-cell *matHeaderCellDef>Security</th>
        <td mat-cell *matCellDef="let element">{{ element.securityName }}</td>
      </ng-container>

      <ng-container matColumnDef="securityType">
        <th mat-header-cell *matHeaderCellDef>Security Type</th>
        <td mat-cell *matCellDef="let element">{{ element.securityType }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price (USD)</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="brokerName">
        <th mat-header-cell *matHeaderCellDef>Broker</th>
        <td mat-cell *matCellDef="let element">{{ element.brokerName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
