table {
  width: 100%;
  table-layout: fixed;
}

.main {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container {
  height: 100%;
  max-width: 100% !important;
  overflow: auto;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 5px 5px 5px 0;
}
